# 1. The SQLite Shell

Rather than working with a SQL editor, `in this mission we'll be working with the SQLite shell â€” a command-line interface to interact with SQLite.`

A command-line interface is a text only program through which users interact with computers by typing text instructions.

`As a result, unlike any of the places you've written SQL queries so far, including a semicolon (;) is necessary in the SQLite shell`

There are several other dot commands you'll use often:

* .help - Displays help text showing all dot commands and their function.
* .tables - Displays a list of all tables and views in the current database.
* .shell [command] - Run a command like ls or clear in the system shell.
* .quit - Quits the SQLite shell.

# 2. Creating Tables

`qlite3 new_database.db
  sqlite3> CREATE TABLE user (
      ...> user_id INTEGER,
      ...> first_name TEXT,
      ...> last_name TEXT
      ...> );
  sqlite3> .schema user
  sqlite3> .quit`

# 3. Primary and Foreign Keys

`A primary key is a unique identifier for each row - you cannot have two rows in a table with the same value for the primary key column(s).`

`By defining a foreign key, our database engine will prevent us from adding rows where the foreign key value doesn't exist in the other table, which helps to prevent errors in our data `

`sqlite3 chinook.db
  sqlite3> CREATE TABLE wishlist (
      ...> wishlist_id INTEGER PRIMARY KEY,
      ...> customer_id INTEGER,
      ...> name TEXT,
      ...> FOREIGN KEY (customer_id) REFERENCES customer(customer_id)
      ...> );
  sqlite3> .quit`

# 4. Database Normalization

When we created our wishlist table, we didn't include a track_id column to store which tracks are in the users wishlist. To understand why, let's take a look at what the table might look like if we stored all the data in a single table.


|wishlist_id|	customer_id	|name	|track_id|
|----|------|-------|------|
|1	|34|	Joao's awesome wishlist	|1158|
|1	|34|	Joao's awesome wishlist	|2646|
|1	|34	|Joao's awesome wishlist	|1990|
|2	|18	|Amy loves pop	|3272|
|2	|18	|Amy loves pop	|3470|

There are are some drawbacks to storing the data this way:

* **Data Duplication** - we are storing the name of each wishlist multiple times.
* **Data Modification** - if we want to change the name of one of the wishlists, we have to modify multiple rows.
* **Data Integrity** - There is nothing to stop a row being added with the wrong wishlist name, and if that happened we wouldn't know which was the correct name.

`When two or more columns combine to form a primary key it is called a compound primary key.`

`sqlite3 chinook.db
sqlite3> CREATE TABLE wishlist_track (
      ...> wishlist_id INTEGER,
      ...> track_id INTEGER,
      ...> PRIMARY KEY (wishlist_id, track_id),
      ...> FOREIGN KEY (wishlist_id) REFERENCES wishlist(wishlist_id),
      ...> FOREIGN KEY (track_id) REFERENCES track(track_id)
      ...> );
  sqlite3> .quit`

# 5. Inserting and Deleting Rows

To add rows to a SQL table, we'll use the INSERT statement:

`INSERT INTO [table_name] (
    [column1_name],
    [column2_name],
    [column3_name]
) VALUES (
    [value1],
    [value2],
    [value3]
);`

`sqlite3 chinook.db
  sqlite3> INSERT INTO wishlist
      ...> VALUES
      ...>     (1, 34, "Joao's awesome wishlist"),
      ...>     (2, 18, "Amy loves pop");
  sqlite3> INSERT INTO wishlist_track
      ...> VALUES
      ...>     (1, 1158),
      ...>     (1, 2646),
      ...>     (1, 1990),
      ...>     (2, 3272),
      ...>     (2, 3470);
  sqlite3> .quit`

# 6. Adding Columns to a Table

We'll need to add a column to each of our tables. We can use the ALTER statement to do this.

`ALTER TABLE [table_name]
ADD COLUMN [column_name] [column_type];`

`sqlite3 chinook.db
sqlite3> ALTER TABLE wishlist
     ...> ADD COLUMN active NUMERIC;
 sqlite3> ALTER TABLE wishlist_track
     ...> ADD COLUMN active NUMERIC;
  sqlite3> .quit`

# 7. Adding Values to Existing Rows

We've added our columns to both wishlist tables, but currently they don't have any data in them. To change values for existing rows, we use the UPDATE statement:

`UPDATE [table_name]
SET [column_name] = [expression]
WHERE [expression]`

We can use a subquery **that returns a single value**:

`UPDATE track
SET unit_price = (
                    SELECT AVG(unit_price)
                    FROM track
                 )`

We can use a **column, or function on an existing column**:

`UPDATE track
SET unit_price = unit_price * 1.1`

Lastly, we can **set more than one column at once:**

`UPDATE wishlist_track
SET
    active = 1,
    purchased = 0;`

`sqlite3 chinook.db
 sqlite3> UPDATE wishlist
      ...> SET active = 1;
  sqlite3> UPDATE wishlist_track
      ...> SET active = 1;
  sqlite3> .quit`

# 8. Challenge: Adding Sales Tax Capabilities

## TODO:
* Launch the SQLite shell, connected to the chinook.db database.
* Add two new columns, with values, to the invoice table:
* tax, with type NUMERIC.
  * The value for all existing rows should be 0.
* subtotal, with type NUMERIC.
  * The value for each row should be the same as that row's value for total.
* Quit the SQLite shell.

`ALTER TABLE invoice
     ...> ADD COLUMN tax NUMERIC;
  sqlite3> ALTER TABLE invoice
      ...> ADD COLUMN subtotal NUMERIC;
  sqlite3> UPDATE invoice
      ...> SET
      ...>     tax = 0,
      ...>     subtotal = total;
  sqlite3> .quit
`

In this mission, we learned:
* How to work with the SQLite shell.
* How to create new tables and assign primary and foreign keys.
* Basic concepts of database normalization.
* How to insert new rows into tables.
* How to add new columns to existing tables.
* How to update existing data in tables.