# 1. Introduction to the data

The dataset we will be working with contains information on various cars. For each car we have information about the technical aspects of the vehicle such as the motor's displacement, the weight of the car, the miles per gallon, and how fast the car accelerates. Using this information we will predict the origin of the vehicle, either North America, Europe, or Asia. We can see, that unlike our previous classification datasets, `we have three categories to choose from, making our task slightly more challenging.`

The dataset is hosted by the University of California Irvine on their [machine learning repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG). As a side note, the UCI Machine Learning repository contains many small datasets which are useful when getting your hands dirty with machine learning.

Here are the columns in the dataset:

* mpg -- Miles per gallon, Continuous.
* cylinders -- Number of cylinders in the motor, Integer, Ordinal, and Categorical.
* displacement -- Size of the motor, Continuous.
* horsepower -- Horsepower produced, Continuous.
* weight -- Weights of the car, Continuous.
* acceleration -- Acceleration, Continuous.
* year -- Year the car was built, Integer and Categorical.
* origin -- Integer and Categorical. 1: North America, 2: Europe, 3: Asia.

## TODO:
* Import the Pandas library and read auto.csv into a Dataframe named cars.

* Use the Series.unique() method to assign the unique elements in the column origin to unique_regions. Then use the print function to display unique_regions.

In [1]:
import pandas as pd

cars=pd.read_csv('auto.csv')
cars.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin
0,18.0,8,307.0,130.0,3504.0,12.0,70,1
1,15.0,8,350.0,165.0,3693.0,11.5,70,1
2,18.0,8,318.0,150.0,3436.0,11.0,70,1
3,16.0,8,304.0,150.0,3433.0,12.0,70,1
4,17.0,8,302.0,140.0,3449.0,10.5,70,1

In [2]:
unique_regions=cars['origin'].unique()
print(unique_regions)

[1 3 2]

# 2. Dummy variables

In previous classification missions, categorical variables have been represented in the dataset using integer values (like 0 and 1) for us already. In many cases, like with this dataset, you'll have to create numeric representation of categorical values yourself. For this dataset, categorical variables exist in three columns, cylinders, year, and origin. The cylinders and year columns must be converted to numeric values so we can use them to predict label origin. Even though the column year is a number, weâ€™re going to treat them like categories.

**We must use dummy variables for columns containing categorical values**. Whenever we have more than 2 categories, we need to create more columns to represent the categories. Since we have 5 different categories of cylinders, we could use 3, 4, 5, 6, and 8 to represent the different categories.

We can use the `pandas.get_dummies()` function to return a Dataframe containing binary columns from the values in the cylinders column. In addition, if we `set the prefix parameter` to cyl, Pandas will pre-pend the column names to match the style we'd like

## TODO:
* Use the pandas.get_dummies() function to create dummy values from the year column.

  * Use the prefix attribute to prepend year to each of the resulting column names.
  * Assign the resulting Dataframe to dummy_years.
* Use the pandas.concat() function to concatenate the columns from dummy_years to cars.

* Use the DataFrame.drop() method to drop the year and cylinders columns from cars.

* Display the first 5 rows of the new cars Dataframe to confirm.

In [3]:
dummy_years=pd.get_dummies(cars['year'],prefix='year')
cars=pd.concat([cars,dummy_years],axis=1)

dummy_cyl=pd.get_dummies(cars['cylinders'],prefix='cyl')
cars=pd.concat([cars,dummy_cyl],axis=1)

cars.drop(['year','cylinders'],axis=1,inplace=True)

cars.head()

,mpg,displacement,horsepower,weight,acceleration,origin,year_70,year_71,year_72,year_73,...,year_78,year_79,year_80,year_81,year_82,cyl_3,cyl_4,cyl_5,cyl_6,cyl_8
0,18.0,307.0,130.0,3504.0,12.0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,15.0,350.0,165.0,3693.0,11.5,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,18.0,318.0,150.0,3436.0,11.0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,16.0,304.0,150.0,3433.0,12.0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,17.0,302.0,140.0,3449.0,10.5,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1

# 3. Multiclass classification

When we have 3 or more categories, we call the problem a multiclass classification problem. There are a few different methods of doing multiclass classification and in this mission, we'll focus on the one-versus-all method.

The one-versus-all method is a technique where we choose a single category as the Positive case and group the rest of the categories as the False case. We're essentially splitting the problem into multiple binary classification problems. For each observation, the model will then output the probability of belonging to each category.

## TODO:
* Split the shuffled_cars Dataframe into 2 Dataframes: train and test.
  * Assign the first 70% of the shuffled_cars to train.
  * Assign the last 30% of the shuffled_cars to test.

In [4]:
import numpy as np

shuffled_cars=cars.loc[np.random.permutation(cars.index)]

In [5]:
shuffled_cars.head(3)

,mpg,displacement,horsepower,weight,acceleration,origin,year_70,year_71,year_72,year_73,...,year_78,year_79,year_80,year_81,year_82,cyl_3,cyl_4,cyl_5,cyl_6,cyl_8
85,14.0,304.0,150.0,3672.0,11.5,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
61,13.0,350.0,165.0,4274.0,12.0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
13,14.0,455.0,225.0,3086.0,10.0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [6]:
highest_train_row = int(cars.shape[0] * .70)
train = shuffled_cars.iloc[0:highest_train_row]
test = shuffled_cars.iloc[highest_train_row:]

# 4. Training a multiclass logistic regression model

**In the one-vs-all approach, we're essentially converting an n-class (in our case n is 3) classification problem into n binary classification problems. For our case, we'll need to train 3 models:**

* A model where all cars built in North America are considered Positive (1) and those built in Europe and Asia are considered Negative (0).
* A model where all cars built in Europe are considered Positive (1) and those built in North America and Asia are considered Negative (0).
* A model where all cars built in Asia are labeled Positive (1) and those built in North America and Europe are considered Negative (0).

Each of these models is a binary classification model that will return a probability between 0 and 1. When we apply this model on new data, a probability value will be returned from each model (3 total). `For each observation, we choose the label corresponding to the model that predicted the highest probability.`

We'll use the dummy variables we created from the cylinders and year columns to train 3 models using the LogisticRegression class from scikit-learn.

## TODO:

* For each value in unique_origins, train a logistic regression model with the following parameters:

  * X: Dataframe containing just the cylinder & year binary columns.
  * y: list (or Series) of Boolean values:
     * True if observation's value for origin matches the current iterator variable.
     * False if observation's value for origin doesn't match the current iterator variable.
* Add each model to the models dictionary with the following structure:

   * key: origin value (1, 2, or 3),
   * value: relevant LogisticRegression model instance.

In [7]:
from sklearn.linear_model import LogisticRegression

unique_origins = cars["origin"].unique()
unique_origins.sort()

models = {}
features = [c for c in train.columns if c.startswith("cyl") or c.startswith("year")]

for origin in unique_origins:
    model = LogisticRegression()
    
    X_train = train[features]
    y_train = train["origin"] == origin

    model.fit(X_train, y_train)
    models[origin] = model

unique_origins

C:\Users\krishna\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\krishna\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\krishna\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

array([1, 2, 3], dtype=int64)

# 5. Testing the models

In [8]:
testing_probs = pd.DataFrame(columns=unique_origins)  

for origin in unique_origins:
    # Select testing features.
    X_test = test[features]   
    # Compute probability of observation being in the origin.
    testing_probs[origin] = models[origin].predict_proba(X_test)[:,1]

# 6. Choose the origin

Now that we trained the models and computed the probabilities in each origin we can classify each observation. To classify each observation we want to select the origin with the highest probability of classification for that observation.

While each column in our dataframe testing_probs represents an origin we just need to choose the one with the largest probability. We can use the `Dataframe method .idxmax() to return a Series where each value corresponds to the column or where the maximum value occurs for that observation.` We need to make sure to set the axis paramater to 1 since we want to calculate the maximum value across columns.

In [9]:
predicted_origins = testing_probs.idxmax(axis=1)
print(predicted_origins)

0      1
1      1
2      1
3      1
4      1
5      1
6      1
7      1
8      3
9      1
10     2
11     1
12     1
13     1
14     1
15     1
16     1
17     1
18     3
19     2
20     1
21     1
22     2
23     1
24     1
25     2
26     1
27     1
28     1
29     1
      ..
88     1
89     1
90     2
91     1
92     1
93     3
94     1
95     1
96     3
97     1
98     1
99     3
100    2
101    1
102    1
103    2
104    1
105    1
106    1
107    3
108    1
109    3
110    1
111    2
112    1
113    2
114    1
115    1
116    1
117    2
Length: 118, dtype: int64