# 1. Introduction

In the last mission, we began investigating possible relationships between SAT scores and demographic factors. In order to do this, we acquired several data sets about New York City public schools. We manipulated these data sets, and found that we could combine them all using the DBN column. All of the data sets are currently stored as keys in the data dictionary. Each individual data set is a pandas dataframe.

In this mission, we'll clean the data a bit more, then combine it. Finally, we'll compute correlations and perform some analysis.

The first thing we'll need to do in preparation for the merge is condense some of the data sets. In the last mission, we noticed that the values in the DBN column were unique in the sat_results data set. Other data sets like class_size had duplicate DBN values, however.

We'll need to condense these data sets so that each value in the DBN column is unique. If not, we'll run into issues when it comes time to combine the data sets.

While the main data set we want to analyze, sat_results, has unique DBN values for every high school in New York City, other data sets aren't as clean.  A single row in the sat_results data set may match multiple rows in the class_size data set, for example. This situation will create problems, because we don't know which of the multiple entries in the class_size data set we should combine with the single matching entry in sat_results

# 2. Condensing the Class Size Data Set

`As you can see, the first few rows all pertain to the same school, which is why the DBN appears more than once. It looks like each school has multiple values for GRADE, PROGRAM TYPE, CORE SUBJECT (MS CORE and 9-12 ONLY), and CORE COURSE (MS CORE and 9-12 ONLY).

If we look at the unique values for GRADE, we get the following:

`array(['0K', '01', '02', '03', '04', '05', '0K-09', nan, '06', '07', '08',
       'MS Core', '09-12', '09'], dtype=object)`
       
Because we're dealing with high schools, we're only concerned with grades 9 through 12. That means we only want to pick rows where the value in the GRADE column is 09-12.

If we look at the unique values for PROGRAM TYPE, we get the following:

`array(['GEN ED', 'CTT', 'SPEC ED', nan, 'G&T'], dtype=object)`

Each school can have multiple program types. Because GEN ED is the largest category by far, let's only select rows where PROGRAM TYPE is GEN ED.`

# 3. Condensing the Class Size Data Set

In [1]:
import pandas as pd
data_files = [
    "ap_2010.csv",
    "class_size.csv",
    "demographics.csv",
    "graduation.csv",
    "hs_directory.csv",
    "sat_results.csv"
]


data = {}
for f in data_files:
    d = pd.read_csv("schools/{0}".format(f))
    key_name = f.replace(".csv", "")
    data[key_name] = d

In [2]:
class_size = data["class_size"]
class_size = class_size[class_size["GRADE "] == "09-12"]
class_size = class_size[class_size["PROGRAM TYPE"] == "GEN ED"]
print(class_size.head())

     CSD BOROUGH SCHOOL CODE                                    SCHOOL NAME  \
225    1       M        M292  Henry Street School for International Studies
226    1       M        M292  Henry Street School for International Studies
227    1       M        M292  Henry Street School for International Studies
228    1       M        M292  Henry Street School for International Studies
229    1       M        M292  Henry Street School for International Studies

    GRADE  PROGRAM TYPE CORE SUBJECT (MS CORE and 9-12 ONLY)  \
225  09-12       GEN ED                              ENGLISH
226  09-12       GEN ED                              ENGLISH
227  09-12       GEN ED                              ENGLISH
228  09-12       GEN ED                              ENGLISH
229  09-12       GEN ED                                 MATH

    CORE COURSE (MS CORE and 9-12 ONLY) SERVICE CATEGORY(K-9* ONLY)  \
225                           English 9                           -
226                          English 10                           -
227                          English 11                           -
228                          English 12                           -
229                  Integrated Algebra                           -

     NUMBER OF STUDENTS / SEATS FILLED  NUMBER OF SECTIONS  \
225                               63.0                 3.0
226                               79.0                 3.0
227                               38.0                 2.0
228                               69.0                 3.0
229                               53.0                 3.0

     AVERAGE CLASS SIZE  SIZE OF SMALLEST CLASS  SIZE OF LARGEST CLASS  \
225                21.0                    19.0                   25.0
226                26.3                    24.0                   31.0
227                19.0                    16.0                   22.0
228                23.0                    13.0                   30.0
229                17.7                    16.0                   21.0

    DATA SOURCE  SCHOOLWIDE PUPIL-TEACHER RATIO
225       STARS                             NaN
226       STARS                             NaN
227       STARS                             NaN
228       STARS                             NaN
229       STARS                             NaN

# 4. Computing Average Class Sizes

After we group a dataframe and aggregate data based on it, the column we performed the grouping on (in this case DBN) will become the index, and will no longer appear as a column in the data itself. To undo this change and keep DBN as a column, we'll need to use pandas.DataFrame.reset_index(). This method will reset the index to a list of integers and make DBN a column again.

# 5. Computing Average Class Sizes

In [3]:
all_survey = pd.read_csv("schools/survey_all.txt", delimiter="\t", encoding='windows-1252')
d75_survey = pd.read_csv("schools/survey_d75.txt", delimiter="\t", encoding='windows-1252')
survey = pd.concat([all_survey, d75_survey], axis=0)

print(survey.head())

      dbn    bn                      schoolname  d75 studentssurveyed  \
0  01M015  M015       P.S. 015 Roberto Clemente    0               No
1  01M019  M019             P.S. 019 Asher Levy    0               No
2  01M020  M020            P.S. 020 Anna Silver    0               No
3  01M034  M034  P.S. 034 Franklin D. Roosevelt    0              Yes
4  01M063  M063       P.S. 063 William McKinley    0               No

   highschool                  schooltype  rr_s  rr_t  rr_p  ...  s_q14_2  \
0         0.0           Elementary School   NaN    88    60  ...      NaN
1         0.0           Elementary School   NaN   100    60  ...      NaN
2         0.0           Elementary School   NaN    88    73  ...      NaN
3         0.0  Elementary / Middle School  89.0    73    50  ...      NaN
4         0.0           Elementary School   NaN   100    60  ...      NaN

   s_q14_3  s_q14_4  s_q14_5  s_q14_6  s_q14_7  s_q14_8  s_q14_9  s_q14_10  \
0      NaN      NaN      NaN      NaN      NaN      NaN      NaN       NaN
1      NaN      NaN      NaN      NaN      NaN      NaN      NaN       NaN
2      NaN      NaN      NaN      NaN      NaN      NaN      NaN       NaN
3      NaN      NaN      NaN      NaN      NaN      NaN      NaN       NaN
4      NaN      NaN      NaN      NaN      NaN      NaN      NaN       NaN

   s_q14_11
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN

[5 rows x 2773 columns]

In [4]:
survey["DBN"] = survey["dbn"]

survey_fields = [
    "DBN", 
    "rr_s", 
    "rr_t", 
    "rr_p", 
    "N_s", 
    "N_t", 
    "N_p", 
    "saf_p_11", 
    "com_p_11", 
    "eng_p_11", 
    "aca_p_11", 
    "saf_t_11", 
    "com_t_11", 
    "eng_t_11", 
    "aca_t_11", 
    "saf_s_11", 
    "com_s_11", 
    "eng_s_11", 
    "aca_s_11", 
    "saf_tot_11", 
    "com_tot_11", 
    "eng_tot_11", 
    "aca_tot_11",
]
survey = survey.loc[:,survey_fields]
data["survey"] = survey

print(survey.head())

      DBN  rr_s  rr_t  rr_p    N_s   N_t    N_p  saf_p_11  com_p_11  eng_p_11  \
0  01M015   NaN    88    60    NaN  22.0   90.0       8.5       7.6       7.5
1  01M019   NaN   100    60    NaN  34.0  161.0       8.4       7.6       7.6
2  01M020   NaN    88    73    NaN  42.0  367.0       8.9       8.3       8.3
3  01M034  89.0    73    50  145.0  29.0  151.0       8.8       8.2       8.0
4  01M063   NaN   100    60    NaN  23.0   90.0       8.7       7.9       8.1

   ...  eng_t_11  aca_t_11  saf_s_11  com_s_11  eng_s_11  aca_s_11  \
0  ...       7.6       7.9       NaN       NaN       NaN       NaN
1  ...       8.9       9.1       NaN       NaN       NaN       NaN
2  ...       6.8       7.5       NaN       NaN       NaN       NaN
3  ...       6.8       7.8       6.2       5.9       6.5       7.4
4  ...       7.8       8.1       NaN       NaN       NaN       NaN

   saf_tot_11  com_tot_11  eng_tot_11  aca_tot_11
0         8.0         7.7         7.5         7.9
1         8.5         8.1         8.2         8.4
2         8.2         7.3         7.5         8.0
3         7.3         6.7         7.1         7.9
4         8.5         7.6         7.9         8.0

[5 rows x 23 columns]

In [5]:
data["hs_directory"]["DBN"] = data["hs_directory"]["dbn"]

def pad_csd(num):
    return str(num).zfill(2)
    
data["class_size"]["padded_csd"] = data["class_size"]["CSD"].apply(pad_csd)
data["class_size"]["DBN"] = data["class_size"]["padded_csd"] + data["class_size"]["SCHOOL CODE"]
print(data["class_size"].head())

   CSD BOROUGH SCHOOL CODE                SCHOOL NAME GRADE  PROGRAM TYPE  \
0    1       M        M015  P.S. 015 Roberto Clemente     0K       GEN ED
1    1       M        M015  P.S. 015 Roberto Clemente     0K          CTT
2    1       M        M015  P.S. 015 Roberto Clemente     01       GEN ED
3    1       M        M015  P.S. 015 Roberto Clemente     01          CTT
4    1       M        M015  P.S. 015 Roberto Clemente     02       GEN ED

  CORE SUBJECT (MS CORE and 9-12 ONLY) CORE COURSE (MS CORE and 9-12 ONLY)  \
0                                    -                                   -
1                                    -                                   -
2                                    -                                   -
3                                    -                                   -
4                                    -                                   -

  SERVICE CATEGORY(K-9* ONLY)  NUMBER OF STUDENTS / SEATS FILLED  \
0                           -                               19.0
1                           -                               21.0
2                           -                               17.0
3                           -                               17.0
4                           -                               15.0

   NUMBER OF SECTIONS  AVERAGE CLASS SIZE  SIZE OF SMALLEST CLASS  \
0                 1.0                19.0                    19.0
1                 1.0                21.0                    21.0
2                 1.0                17.0                    17.0
3                 1.0                17.0                    17.0
4                 1.0                15.0                    15.0

   SIZE OF LARGEST CLASS DATA SOURCE  SCHOOLWIDE PUPIL-TEACHER RATIO  \
0                   19.0         ATS                             NaN
1                   21.0         ATS                             NaN
2                   17.0         ATS                             NaN
3                   17.0         ATS                             NaN
4                   15.0         ATS                             NaN

  padded_csd     DBN
0         01  01M015
1         01  01M015
2         01  01M015
3         01  01M015
4         01  01M015

In [6]:
import numpy as np
class_size = data["class_size"]
class_size = class_size[class_size["GRADE "] == "09-12"]
class_size = class_size[class_size["PROGRAM TYPE"] == "GEN ED"]
class_size = class_size.groupby("DBN").agg(np.mean)
class_size.reset_index(inplace=True)
data["Class_size"] = class_size

# 6. Condensing the Demographics Data Set

Now that we've finished condensing class_size, let's condense demographics. The first few rows look like this:

In [7]:
data['demographics'].head(3)

,DBN,Name,schoolyear,fl_percent,frl_percent,total_enrollment,prek,k,grade1,grade2,...,black_num,black_per,hispanic_num,hispanic_per,white_num,white_per,male_num,male_per,female_num,female_per
0,01M015,P.S. 015 ROBERTO CLEMENTE,20052006,89.4,NaN,281,15,36,40,33,...,74,26.3,189,67.3,5,1.8,158.0,56.2,123.0,43.8
1,01M015,P.S. 015 ROBERTO CLEMENTE,20062007,89.4,NaN,243,15,29,39,38,...,68,28.0,153,63.0,4,1.6,140.0,57.6,103.0,42.4
2,01M015,P.S. 015 ROBERTO CLEMENTE,20072008,89.4,NaN,261,18,43,39,36,...,77,29.5,157,60.2,7,2.7,143.0,54.8,118.0,45.2

In this case, the only column that prevents a given DBN from being unique is schoolyear. We only want to select rows where schoolyear is 20112012. This will give us the most recent year of data, and also match our SAT results data.

# 7. Condensing the Demographics Data Set

In [8]:
data["demographics"] = data["demographics"][data["demographics"]["schoolyear"] == 20112012]
print(data["demographics"].head())

       DBN                                              Name  schoolyear  \
6   01M015  P.S. 015 ROBERTO CLEMENTE                           20112012
13  01M019  P.S. 019 ASHER LEVY                                 20112012
20  01M020  PS 020 ANNA SILVER                                  20112012
27  01M034  PS 034 FRANKLIN D ROOSEVELT                         20112012
35  01M063  PS 063 WILLIAM MCKINLEY                             20112012

   fl_percent  frl_percent  total_enrollment prek    k grade1 grade2  ...  \
6         NaN         89.4               189   13   31     35     28  ...
13        NaN         61.5               328   32   46     52     54  ...
20        NaN         92.5               626   52  102    121     87  ...
27        NaN         99.7               401   14   34     38     36  ...
35        NaN         78.9               176   18   20     30     21  ...

   black_num black_per hispanic_num hispanic_per white_num white_per male_num  \
6         63      33.3          109         57.7         4       2.1     97.0
13        81      24.7          158         48.2        28       8.5    147.0
20        55       8.8          357         57.0        16       2.6    330.0
27        90      22.4          275         68.6         8       2.0    204.0
35        41      23.3          110         62.5        15       8.5     97.0

   male_per female_num female_per
6      51.3       92.0       48.7
13     44.8      181.0       55.2
20     52.7      296.0       47.3
27     50.9      197.0       49.1
35     55.1       79.0       44.9

[5 rows x 38 columns]

# 8. Condensing the Graduation Data Set

The Demographic and Cohort columns are what prevent DBN from being unique in the graduation data. A Cohort appears to refer to the year the data represents, and the Demographic appears to refer to a specific demographic group. In this case, we want to pick data from the most recent Cohort available, which is 2006. We also want data from the full cohort, so we'll only pick rows where Demographic is Total Cohort.

# 9. Condensing the Graduation Data Set

In [9]:
data["graduation"] = data["graduation"][data["graduation"]["Cohort"] == "2006"]
data["graduation"] = data["graduation"][data["graduation"]["Demographic"] == "Total Cohort"]
print(data["graduation"].head())

     Demographic     DBN                            School Name Cohort  \
3   Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL   2006
10  Total Cohort  01M448    UNIVERSITY NEIGHBORHOOD HIGH SCHOOL   2006
17  Total Cohort  01M450             EAST SIDE COMMUNITY SCHOOL   2006
24  Total Cohort  01M509                MARTA VALLE HIGH SCHOOL   2006
31  Total Cohort  01M515  LOWER EAST SIDE PREPARATORY HIGH SCHO   2006

    Total Cohort Total Grads - n  Total Grads - % of cohort Total Regents - n  \
3             78              43                       55.1                36
10           124              53                       42.7                42
17            90              70                       77.8                67
24            84              47                       56.0                40
31           193             105                       54.4                91

    Total Regents - % of cohort  Total Regents - % of grads  ...  \
3                          46.2                        83.7  ...
10                         33.9                        79.2  ...
17                         74.4                        95.7  ...
24                         47.6                        85.1  ...
31                         47.2                        86.7  ...

   Regents w/o Advanced - n  Regents w/o Advanced - % of cohort  \
3                        36                                46.2
10                       34                                27.4
17                       67                                74.4
24                       23                                27.4
31                       22                                11.4

    Regents w/o Advanced - % of grads Local - n  Local - % of cohort  \
3                                83.7         7                  9.0
10                               64.2        11                  8.9
17                               95.7         3                  3.3
24                               48.9         7                  8.3
31                               21.0        14                  7.3

    Local - % of grads Still Enrolled - n  Still Enrolled - % of cohort  \
3                 16.3                 16                          20.5
10                20.8                 46                          37.1
17                 4.3                 15                          16.7
24                14.9                 25                          29.8
31                13.3                 53                          27.5

    Dropped Out - n Dropped Out - % of cohort
3                11                      14.1
10               20                      16.1
17                5                       5.6
24                5                       6.0
31               35                      18.1

[5 rows x 23 columns]

# 10. Converting AP Test Scores

We're almost ready to combine all of the data sets. The only remaining thing to do is convert the Advanced Placement (AP) test scores from strings to numeric values. High school students take the AP exams before applying to college. There are several AP exams, each corresponding to a school subject. High school students who earn high scores may receive college credit.

In [10]:
cols = ['AP Test Takers ', 'Total Exams Taken', 'Number of Exams with scores 3 4 or 5']
for col in cols:
    data["ap_2010"][col] = pd.to_numeric(data["ap_2010"][col], errors="coerce")
    
print(data["ap_2010"].dtypes)

DBN                                      object
SchoolName                               object
AP Test Takers                          float64
Total Exams Taken                       float64
Number of Exams with scores 3 4 or 5    float64
dtype: object

# 11. Left, Right, Inner, and Outer Joins

Before we merge our data, we'll need to decide on the merge strategy we want to use. We'll be using the pandas pandas.DataFrame.merge() function, which supports four types of joins -- left, right, inner, and outer. Each of these join types dictates how pandas combines the rows.

We'll be using the DBN column to identify matching rows across data sets. In other words, the values in that column will help us know which row from the first data set to combine with which row in the second data set.

There may be DBN values that exist in one data set but not in another. This is partly because the data is from different years. Each data set also has inconsistencies in terms of how it was gathered. Human error (and other types of errors) may also play a role. Therefore, we may not find matches for the DBN values in sat_results in all of the other data sets, and other data sets may have DBN values that don't exist in sat_results.

We'll merge two data sets at a time. For example, we'll merge sat_results and hs_directory, then merge the result with ap_2010, then merge the result of that with class_size. We'll continue combining data sets in this way until we've merged all of them. Afterwards, we'll have roughly the same number of rows, but each row will have columns from all of the data sets.

# 12. Performing the Left Joins

In [11]:
combined = data["sat_results"]
combined = combined.merge(data["ap_2010"], on="DBN", how="left")
combined = combined.merge(data["graduation"], on="DBN", how="left")
print(combined.head(5))
print(combined.shape)

      DBN                                    SCHOOL NAME  \
0  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES
1  01M448            UNIVERSITY NEIGHBORHOOD HIGH SCHOOL
2  01M450                     EAST SIDE COMMUNITY SCHOOL
3  01M458                      FORSYTH SATELLITE ACADEMY
4  01M509                        MARTA VALLE HIGH SCHOOL

  Num of SAT Test Takers SAT Critical Reading Avg. Score SAT Math Avg. Score  \
0                     29                             355                 404
1                     91                             383                 423
2                     70                             377                 402
3                      7                             414                 401
4                     44                             390                 433

  SAT Writing Avg. Score                    SchoolName  AP Test Takers   \
0                    363                           NaN              NaN
1                    366  UNIVERSITY NEIGHBORHOOD H.S.             39.0
2                    370        EAST SIDE COMMUNITY HS             19.0
3                    359                           NaN              NaN
4                    384                           NaN              NaN

   Total Exams Taken  Number of Exams with scores 3 4 or 5  ...  \
0                NaN                                   NaN  ...
1               49.0                                  10.0  ...
2               21.0                                   NaN  ...
3                NaN                                   NaN  ...
4                NaN                                   NaN  ...

  Regents w/o Advanced - n Regents w/o Advanced - % of cohort  \
0                       36                               46.2
1                       34                               27.4
2                       67                               74.4
3                      NaN                                NaN
4                       23                               27.4

  Regents w/o Advanced - % of grads  Local - n Local - % of cohort  \
0                              83.7          7                 9.0
1                              64.2         11                 8.9
2                              95.7          3                 3.3
3                               NaN        NaN                 NaN
4                              48.9          7                 8.3

   Local - % of grads Still Enrolled - n  Still Enrolled - % of cohort  \
0                16.3                 16                          20.5
1                20.8                 46                          37.1
2                 4.3                 15                          16.7
3                 NaN                NaN                           NaN
4                14.9                 25                          29.8

   Dropped Out - n Dropped Out - % of cohort
0               11                      14.1
1               20                      16.1
2                5                       5.6
3              NaN                       NaN
4                5                       6.0

[5 rows x 32 columns]
(479, 32)

# 13. Performing the Inner Joins

Now that we've performed the left joins, we still have to merge class_size, demographics, survey, and hs_directory into combined. Because these files contain information that's more valuable to our analysis and also have fewer missing DBN values, we'll use the inner join type.

In [12]:
to_merge = ["class_size", "demographics", "survey", "hs_directory"]

for m in to_merge:
    combined = combined.merge(data[m], on="DBN", how="inner")

print(combined.head(5))
print(combined.shape)

      DBN                                  SCHOOL NAME_x  \
0  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES
1  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES
2  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES
3  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES
4  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES

  Num of SAT Test Takers SAT Critical Reading Avg. Score SAT Math Avg. Score  \
0                     29                             355                 404
1                     29                             355                 404
2                     29                             355                 404
3                     29                             355                 404
4                     29                             355                 404

  SAT Writing Avg. Score SchoolName  AP Test Takers   Total Exams Taken  \
0                    363        NaN              NaN                NaN
1                    363        NaN              NaN                NaN
2                    363        NaN              NaN                NaN
3                    363        NaN              NaN                NaN
4                    363        NaN              NaN                NaN

   Number of Exams with scores 3 4 or 5  ... priority08 priority09 priority10  \
0                                   NaN  ...        NaN        NaN        NaN
1                                   NaN  ...        NaN        NaN        NaN
2                                   NaN  ...        NaN        NaN        NaN
3                                   NaN  ...        NaN        NaN        NaN
4                                   NaN  ...        NaN        NaN        NaN

                                          Location 1 Community Board  \
0  220 Henry Street\nNew York, NY 10002\n(40.7137...             3.0
1  220 Henry Street\nNew York, NY 10002\n(40.7137...             3.0
2  220 Henry Street\nNew York, NY 10002\n(40.7137...             3.0
3  220 Henry Street\nNew York, NY 10002\n(40.7137...             3.0
4  220 Henry Street\nNew York, NY 10002\n(40.7137...             3.0

   Council District Census Tract        BIN           BBL  \
0               1.0        201.0  1003223.0  1.002690e+09
1               1.0        201.0  1003223.0  1.002690e+09
2               1.0        201.0  1003223.0  1.002690e+09
3               1.0        201.0  1003223.0  1.002690e+09
4               1.0        201.0  1003223.0  1.002690e+09

                                                 NTA
0  Lower East Side                               ...
1  Lower East Side                               ...
2  Lower East Side                               ...
3  Lower East Side                               ...
4  Lower East Side                               ...

[5 rows x 172 columns]
(10172, 172)

# 14. Filling in Missing Values

We can fill in missing data in pandas using the pandas.DataFrame.fillna() method. This method will replace any missing values in a dataframe with the values we specify. We can compute the mean of every column using the pandas.DataFrame.mean() method. If we pass the results of the df.mean() method into the df.fillna() method, pandas will fill in the missing values in each column with the mean of that column.

# 15. Filling in Missing Values

In [13]:
combined = combined.fillna(combined.mean())
combined = combined.fillna(0)

print(combined.head(5))
combined.columns

      DBN                                  SCHOOL NAME_x  \
0  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES
1  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES
2  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES
3  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES
4  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES

  Num of SAT Test Takers SAT Critical Reading Avg. Score SAT Math Avg. Score  \
0                     29                             355                 404
1                     29                             355                 404
2                     29                             355                 404
3                     29                             355                 404
4                     29                             355                 404

  SAT Writing Avg. Score SchoolName  AP Test Takers   Total Exams Taken  \
0                    363          0       131.490379         197.989292
1                    363          0       131.490379         197.989292
2                    363          0       131.490379         197.989292
3                    363          0       131.490379         197.989292
4                    363          0       131.490379         197.989292

   Number of Exams with scores 3 4 or 5  ... priority08 priority09 priority10  \
0                            141.092445  ...        0.0        0.0        0.0
1                            141.092445  ...        0.0        0.0        0.0
2                            141.092445  ...        0.0        0.0        0.0
3                            141.092445  ...        0.0        0.0        0.0
4                            141.092445  ...        0.0        0.0        0.0

                                          Location 1 Community Board  \
0  220 Henry Street\nNew York, NY 10002\n(40.7137...             3.0
1  220 Henry Street\nNew York, NY 10002\n(40.7137...             3.0
2  220 Henry Street\nNew York, NY 10002\n(40.7137...             3.0
3  220 Henry Street\nNew York, NY 10002\n(40.7137...             3.0
4  220 Henry Street\nNew York, NY 10002\n(40.7137...             3.0

   Council District Census Tract        BIN           BBL  \
0               1.0        201.0  1003223.0  1.002690e+09
1               1.0        201.0  1003223.0  1.002690e+09
2               1.0        201.0  1003223.0  1.002690e+09
3               1.0        201.0  1003223.0  1.002690e+09
4               1.0        201.0  1003223.0  1.002690e+09

                                                 NTA
0  Lower East Side                               ...
1  Lower East Side                               ...
2  Lower East Side                               ...
3  Lower East Side                               ...
4  Lower East Side                               ...

[5 rows x 172 columns]

Index(['DBN', 'SCHOOL NAME_x', 'Num of SAT Test Takers',
       'SAT Critical Reading Avg. Score', 'SAT Math Avg. Score',
       'SAT Writing Avg. Score', 'SchoolName', 'AP Test Takers ',
       'Total Exams Taken', 'Number of Exams with scores 3 4 or 5',
       ...
       'priority08', 'priority09', 'priority10', 'Location 1',
       'Community Board', 'Council District', 'Census Tract', 'BIN', 'BBL',
       'NTA'],
      dtype='object', length=172)

# 16. Adding a School District Column for Mapping

We've finished cleaning and combining our data! We now have a clean data set on which we can base our analysis. Mapping the statistics out on a school district level might be an interesting way to analyze them. Adding a column to the data set that specifies the school district will help us accomplish this.

The school district is just the first two characters of the DBN. We can apply a function over the DBN column of combined that pulls out the first two letters.

In [14]:
def get_first_two_chars(dbn):
    return dbn[0:2]

combined["school_dist"] = combined["DBN"].apply(get_first_two_chars)
print(combined["school_dist"].head())

0    01
1    01
2    01
3    01
4    01
Name: school_dist, dtype: object

We now have a clean data set we can analyze! We've done a lot in this mission. We've gone from having several messy sources to one clean, combined, data set that's ready for analysis.

Along the way, we've learned about:

* How to handle missing values
* Different types of merges
* How to condense data sets
* How to compute averages across dataframes