# 1. Introduction

In this mission, we'll learn how to calculate [summary statistics](https://en.wikipedia.org/wiki/Summary_statistics) on subsets of a database table

Let's start with some motivating questions we want to answer:

* How many majors had mostly female students? How many had mostly male students? What proportion of majors had mostly female students?
* Which category of majors had the lowest unemployment rates? Which category of majors had the highest female representation?
* Which majors had the largest spread (difference) between the 25th and 75th percentile starting salaries?

By the end of this mission, we will have covered the techniques to answer them. Let's move on to the next screen to start learning!

# 2. A Simple Question

**What is the lowest proportion of women on the recent_grads table?**

In [1]:
%load_ext sql

In [2]:
%sql sqlite:///jobs.db

In [3]:
%%sql

SELECT MIN(ShareWomen)
From recent_grads

 * sqlite:///jobs.db
Done.

[(0.0,)]

**Write a query that returns the lowest unemployment rate.**

In [4]:
%%sql

SELECT MIN(Unemployment_rate)
FROM recent_grads

 * sqlite:///jobs.db
Done.

[(0.0,)]

# 3. Aggregate Functions

MIN function is one of a particular type of functions called [aggregate functions](https://en.wikipedia.org/wiki/Aggregate_function). `Aggregate functions are functions that are applied over columns of values and return a single value.`

**Write a query that computes the sum of the Total column.**

In [5]:
%%sql

SELECT SUM(Total)
FROM recent_grads

 * sqlite:///jobs.db
Done.

[(6776015,)]

# 4. Order of Execution

Here is the order in which the clauses run:

* FROM
* WHERE
* SELECT
* ORDER BY
* LIMIT

**Write a query that returns the number of majors with mostly male students.**

In [6]:
%%sql

SELECT COUNT(Major)
FROM recent_grads
WHERE ShareWomen<0.5;

 * sqlite:///jobs.db
Done.

[(76,)]

# 5. Missing Values

Sometimes, for various reasons, tables contain no values in certain cells (a cell is a location in a table given by specifying a row and a column).

When this happens, we say any of the following sentences (or variations of them):

The value is missing
It's a missing value
The value is NULL
`NULL is a special entity in SQL that exists to capture the concept of missing value`.

**`Something that is important to keep in mind when using aggregate functions is that most of them ignore missing values`.**

A consequence of this is that we must know we do not have null values in a column before we can use it to count the numbers of rows.

**Write a query that counts the number of rows in recent_grads, followed by the number of rows in the column Unemployment_rate**

In [7]:
%%sql

SELECT COUNT(*),COUNT(Unemployment_rate)
FROM recent_grads

 * sqlite:///jobs.db
Done.

[(173, 172)]

# 6. Combining Multiple Aggregation Functions

Instead of writing an individual query for each specific question we want to answer, we can actually write queries that answer multiple questions at once. Let's take the following questions:

* What's the lowest median salary?
* What's the highest median salary?
* What's the total number of students?

In [8]:
%%sql 

SELECT MIN(Median),MAX(Median),SUM(Total)
FROM recent_grads;

 * sqlite:///jobs.db
Done.

[(22000, 110000, 6776015)]

**Write a query that computes the average of the Total column, the minimum of the Men column, and the maximum of the Women column, in that specific order.**

In [9]:
%%sql 

SELECT AVG(Total),MIN(Men),MAX(Women)
FROM recent_grads

 * sqlite:///jobs.db
Done.

[(39167.71676300578, 119, 307087)]

# 7. Customizing the Results

All of the queries we wrote so far have had somewhat unpleasant column names in the results, like AVG(SUM) and MIN(Men).

Many companies use SQL environments and tools that can run your query, turn the results into a plot of your choosing, and then create a PDF report containing multiple plots (and some additional explanation from the user).

`Given that others may interpret and understand the results of your SQL queries, it's helpful to be able to specify custom names for the columns in our results`.

We can do just that **using AS:**

`we can drop AS entirely and just add the name next to the original column`

## TODO:
* Write a query that returns, in the following order:
  * The number of rows as Number of Majors
  * The maximum value of Unemployment_rate as Highest Unemployment Rate

In [10]:
%%sql

SELECT COUNT(*) AS 'Number of Majors',MAX(Unemployment_rate) 'Highest Unemployment Rate'
FROM recent_grads

 * sqlite:///jobs.db
Done.

[(173, 0.177226407)]

# 8. Counting Unique Values

**`We can return all of the unique values in a column using the DISTINCT statement.`**

As with the other SQL clauses we learned, we can use the DISTINCT statement with multiple columns to return unique pairings of those columns

## TODO:
* Write a query that returns the number of unique values in the Major, Major_category, and Major_code columns. Use the following aliases in the following order:
  * For the unique value count of the Major column, use the alias unique_majors.
  * For the unique value count of the Major_category column, use the alias unique_major_categories.
  * For the unique value count of the Major_code column, use the alias unique_major_codes.

In [11]:
%%sql

SELECT COUNT(DISTINCT(Major)) unique_majors,COUNT(DISTINCT(Major_category)) unique_major_categories,
             COUNT(DISTINCT(Major_code)) unique_major_codes
FROM recent_grads

 * sqlite:///jobs.db
Done.

[(173, 16, 173)]

# 9. Data Types

In [12]:
%%sql

SELECT Major, Total, Men, Women, Unemployment_rate
  FROM recent_grads
 ORDER BY Unemployment_rate DESC
 LIMIT 3;

 * sqlite:///jobs.db
Done.

[('NUCLEAR ENGINEERING', 2573, 2200, 373, 0.177226407),
 ('PUBLIC ADMINISTRATION', 5629, 2947, 2682, 0.15949059999999998),
 ('COMPUTER NETWORKING AND TELECOMMUNICATIONS', 7613, 5291, 2322, 0.151849807)]

* In the Major column we see text.
* In the Total, Men and Women columns we see integers.
* In the Unemployment_rate column we see decimal numbers.

* Each of the above is self-descriptively called a [data type](https://en.wikipedia.org/wiki/Data_type). Each column has exactly one type of values, it can't be mixed.

* You can read more about the SQLite data types [here](https://www.sqlite.org/datatype3.html). We'll have a chance to explore them from the point of view of the database when we learn how to create tables.

# 10. String Functions and Operations

We previously learned about aggregate functions. Aggregate functions take a column as input and return one value for the column. We'll now learn about `functions that, when we pass them a column as input, return (a transformation of the input in) another column.` The values of text columns are typically called strings, hence the present screen's title.

**`Another thing we can do with strings is concatenate them by using the || operator`.**

In [13]:
%%sql

SELECT 'Data' || 'quest' as 'e-learning';

 * sqlite:///jobs.db
Done.

[('Dataquest',)]

It's important to point out that, despite the fact we signaled the use of strings by using single quotes ('), double quotes (") are also accepted. However, single quotes are more universally accepted by other databases than double quotes.

## TODO:
* Write a query that:

* Selects in order
  * The values in the Major column in lowercase, preceded by the string Major:. Use the alias Major.
  * Total.
  * Men.
  * Women.
  * Unemployment_rate.
  * LENGTH(Major) as Length_of_name.
* Ordered in descending order by the unemployment rate

In [14]:
%%sql

SELECT 'Major: ' || LOWER(Major) Major,Total,Men,Women,Unemployment_rate,LENGTH(Major) Lenght_of_name
FROM recent_grads
ORDER BY Unemployment_rate DESC

 * sqlite:///jobs.db
Done.

[('Major: nuclear engineering', 2573, 2200, 373, 0.177226407, 19),
 ('Major: public administration', 5629, 2947, 2682, 0.15949059999999998, 21),
 ('Major: computer networking and telecommunications', 7613, 5291, 2322, 0.151849807, 42),
 ('Major: clinical psychology', 2838, 568, 2270, 0.14904819800000002, 19),
 ('Major: public policy', 5978, 2695, 905, 0.128426299, 13),
 ('Major: communication technologies', 18035, 2563, 16346, 0.11951146900000001, 26),
 ('Major: mining and mineral engineering', 756, 679, 77, 0.117241379, 30),
 ('Major: computer programming and data processing', 4168, 3046, 1122, 0.11398259, 40),
 ('Major: geography', 18480, 173809, 156118, 0.113458628, 9),
 ('Major: architecture', 46420, 9658, 4582, 0.113331949, 12),
 ('Major: community and public health', 19735, 8575, 16075, 0.112144387, 27),
 ('Major: industrial and organizational psychology', 3014, 132238, 102352, 0.10878661099999999, 40),
 ('Major: school student counseling', 818, 1667, 2164, 0.10757946199999999, 25),
 ('Major: other foreign languages', 11204, 3472, 7732, 0.107115726, 23),
 ('Major: film video and photographic arts', 38761, 22339, 49030, 0.10577224, 32),
 ('Major: library science', 1098, 134, 964, 0.10494571800000001, 15),
 ('Major: linguistics and comparative language and literature', 16601, 2337, 7579, 0.10443571, 51),
 ('Major: general social sciences', 12920, 62181, 62893, 0.103454715, 23),
 ('Major: anthropology and archeology', 38844, 1167, 36422, 0.102791571, 27),
 ('Major: visual and performing arts', 16250, 2013, 4639, 0.102197419, 26),
 ('Major: political science and government', 182621, 93880, 88741, 0.101174601, 32),
 ('Major: computer administration management and security', 8066, 6607, 1459, 0.099723375, 47),
 ('Major: economics', 139247, 115030, 59476, 0.099092317, 9),
 ('Major: criminology', 19879, 8422, 13638, 0.097243919, 11),
 ('Major: food science', 4361, 99743, 28576, 0.09693146, 12),
 ('Major: international relations', 28187, 10345, 17842, 0.09679894300000001, 23),
 ('Major: commercial art and graphic design', 103480, 8617, 5156, 0.096797577, 33),
 ('Major: forestry', 3607, 32041, 71439, 0.096725743, 8),
 ('Major: business economics', 13302, 3477, 1154, 0.096448381, 18),
 ('Major: international business', 25894, 1749, 690, 0.096175064, 22),
 ('Major: philosophy and religious studies', 54814, 31967, 22847, 0.096051684, 32),
 ('Major: history', 141951, 280, 524, 0.09566691199999999, 7),
 ('Major: actuarial science', 3777, 832, 960, 0.095652174, 17),
 ('Major: environmental engineering', 4047, 2639, 3339, 0.093588575, 25),
 ('Major: computer and information systems', 36698, 515, 1247, 0.093460326, 32),
 ('Major: interdisciplinary social sciences', 9916, 13487, 35004, 0.092305816, 33),
 ('Major: biomedical engineering', 14955, 80320, 10907, 0.09208386, 22),
 ('Major: applied mathematics', 4939, 3916, 11998, 0.09082330699999999, 19),
 ('Major: mass media', 52824, 3741, 26730, 0.089836827, 10),
 ('Major: health and medical administrative services', 18109, 2817, 9479, 0.089626262, 42),
 ('Major: studio arts', 16977, 4364, 6146, 0.089552239, 11),
 ('Major: miscellaneous fine arts', 3340, 1970, 1370, 0.089375, 23),
 ('Major: english language and literature', 194673, 4897, 2519, 0.08772359, 31),
 ('Major: electrical engineering technology', 11565, 2020, 973, 0.087557114, 33),
 ('Major: biological engineering', 8925, 6062, 2863, 0.087143069, 22),
 ('Major: statistics and decision science', 6251, 23080, 9062, 0.086273666, 31),
 ('Major: pharmacology', 1762, 94519, 104114, 0.085531575, 12),
 ('Major: sociology', 115433, 24704, 28120, 0.084951001, 9),
 ('Major: molecular biology', 18300, 4419, 371, 0.084361164, 17),
 ('Major: fine arts', 74440, 24786, 49654, 0.084186296, 9),
 ('Major: psychology', 393735, 86648, 307087, 0.083810867, 10),
 ('Major: intercultural and international studies', 24650, 9950, 10248, 0.083633531, 39),
 ('Major: criminal justice and fire protection', 152824, 3156, 451, 0.082452199, 36),
 ('Major: general medical and health services', 33599, 7574, 26025, 0.082101621, 35),
 ('Major: composition and rhetoric', 18953, 14440, 28809, 0.081742207, 24),
 ('Major: miscellaneous health medical professions', 13386, 413, 973, 0.08141125, 40),
 ('Major: biochemical sciences', 39107, 18951, 20156, 0.080531385, 20),
 ('Major: environmental science', 25965, 10787, 15178, 0.07858468099999999, 21),
 ('Major: liberal arts', 71369, 58227, 136446, 0.078267592, 12),
 ('Major: drama and theater arts', 43249, 7022, 11931, 0.07754113, 22),
 ('Major: agricultural economics', 2439, 10624, 15270, 0.077249576, 22),
 ('Major: music', 60633, 15670, 12543, 0.075959674, 5),
 ('Major: french german latin and other common foreign language studies', 48246, 3872, 10365, 0.075566386, 61),
 ('Major: geology and earth science', 10972, 5813, 5159, 0.075448568, 25),
 ('Major: cognitive science and biopsychology', 3831, 119, 699, 0.075236167, 35),
 ('Major: communications', 213996, 476, 209, 0.07517697599999999, 14),
 ('Major: geological and geophysical engineering', 720, 7921, 3811, 0.075038285, 38),
 ('Major: physical and health education teaching', 28213, 29909, 30724, 0.074667496, 38),
 ('Major: miscellaneous engineering', 9133, 7398, 1735, 0.074392523, 25),
 ('Major: miscellaneous social sciences', 3283, 1499, 1784, 0.073079538, 29),
 ('Major: general business', 234590, 6053, 4346, 0.072861468, 16),
 ('Major: transportation sciences and technologies', 15150, 2744, 1299, 0.072724524, 40),
 ('Major: business management and administration', 329927, 6383, 8849, 0.07221834099999999, 38),
 ('Major: miscellaneous business & medical administration', 17947, 7043, 1761, 0.071982974, 47),
 ('Major: pre-law and legal studies', 13528, 809, 1169, 0.07196501599999999, 25),
 ('Major: nuclear, industrial radiology, and biological technologies', 2116, 7575, 5727, 0.07154047, 58),
 ('Major: multi/interdisciplinary studies', 12296, 10031, 9848, 0.070860927, 31),
 ('Major: biology', 280709, 111762, 168947, 0.070724732, 7),
 ('Major: civil engineering', 53153, 41081, 12072, 0.07060957400000001, 17),
 ('Major: health and medical preparatory programs', 12740, 4747, 5959, 0.06977971200000001, 39),
 ('Major: accounting', 198633, 27392, 9306, 0.069749014, 10),
 ('Major: journalism', 72619, 8739, 22456, 0.069176442, 10),
 ('Major: physiology', 22060, 2682, 26057, 0.06916280000000001, 10),
 ('Major: social work', 53552, 2734, 11709, 0.06882792, 11),
 ('Major: nutrition sciences', 18909, 4944, 8719, 0.068700676, 18),
 ('Major: humanities', 6652, 4133, 12117, 0.068584071, 10),
 ('Major: advertising and public relations', 53162, 23736, 48883, 0.06796076599999999, 32),
 ('Major: family and consumer sciences', 58001, 5347, 16226, 0.067128194, 28),
 ('Major: microbiology', 15232, 78857, 126354, 0.066775872, 12),
 ('Major: natural resources management', 13773, 27015, 35037, 0.066619195, 28),
 ('Major: computer engineering', 41542, 33258, 8284, 0.065409275, 20),
 ('Major: aerospace engineering', 15058, 65511, 16016, 0.065162085, 21),
 ('Major: educational psychology', 2854, 522, 2332, 0.065112187, 22),
 ('Major: area ethnic and civilization studies', 31195, 12862, 40300, 0.063429289, 36),
 ('Major: computer science', 128319, 1837, 2524, 0.063172771, 16),
 ('Major: theology and religious vocations', 30207, 404, 1084, 0.062628297, 32),
 ('Major: architectural engineering', 2825, 1835, 990, 0.061930782999999996, 25),
 ('Major: marketing and marketing research', 205211, 11404, 7076, 0.061215064000000007, 32),
 ('Major: hospitality management', 43647, 4416, 12185, 0.061169193, 22),
 ('Major: chemical engineering', 32260, 21239, 11021, 0.061097712, 20),
 ('Major: information sciences', 11913, 2960, 3291, 0.060741445, 20),
 ('Major: finance', 174506, 89749, 49498, 0.060686356, 7),
 ('Major: art history and criticism', 21030, 3240, 17790, 0.060298284, 25),
 ('Major: construction services', 18498, 2662, 1385, 0.060023041, 21),
 ('Major: general engineering', 61152, 45683, 15469, 0.059824231, 19),
 ('Major: treatment therapy professions', 48491, 3654, 6496, 0.059821207, 29),
 ('Major: miscellaneous agriculture', 1488, 4754, 12223, 0.05976676400000001, 25),
 ('Major: human resources and personnel management', 24497, 4435, 9093, 0.059569649, 40),
 ('Major: miscellaneous education', 10150, 32510, 82923, 0.059211951, 23),
 ('Major: electrical engineering', 81527, 8407, 6548, 0.059173845, 22),
 ('Major: miscellaneous biology', 10706, 5521, 7219, 0.058545455, 21),
 ('Major: management information systems and statistics', 18713, 13496, 5217, 0.058239614, 45),
 ('Major: general education', 143718, 26893, 116825, 0.057359929000000004, 17),
 ('Major: mechanical engineering', 91227, 12953, 2105, 0.057342277999999997, 22),
 ('Major: oceanography', 2418, 752, 1666, 0.056994819, 12),
 ('Major: mechanical engineering related technologies', 4790, 894, 542, 0.056357078, 43),
 ('Major: multi-disciplinary or general science', 62052, 70619, 143377, 0.055806815, 37),
 ('Major: cosmetology services and culinary arts', 10510, 18616, 11591, 0.055676856, 38),
 ('Major: pharmacy pharmaceutical sciences and administration', 23551, 25463, 20957, 0.055520827, 51),
 ('Major: engineering technologies', 3600, 16820, 1678, 0.055030385, 24),
 ('Major: ecology', 9154, 15204, 28443, 0.054475193, 7),
 ('Major: social science or history teacher education', 20198, 12835, 35411, 0.054082940999999995, 43),
 ('Major: chemistry', 66530, 32923, 33607, 0.053972400000000004, 9),
 ('Major: counseling psychology', 4626, 931, 3695, 0.053620645999999994, 21),
 ('Major: miscellaneous engineering technologies', 8804, 124, 0, 0.05253852, 38),
 ('Major: secondary teacher education', 17125, 6820, 10305, 0.05222898, 27),
 ('Major: miscellaneous psychology', 9628, 885, 8489, 0.05190783, 24),
 ('Major: physical fitness parks recreation and leisure', 125074, 2049, 4434, 0.051467273, 45),
 ('Major: animal sciences', 21573, 5166, 52835, 0.050862499000000005, 15),
 ('Major: language and drama education', 30471, 3878, 5276, 0.050306435, 28),
 ('Major: naval architecture and marine engineering', 1258, 1123, 135, 0.050125313, 41),
 ('Major: agriculture production and management', 14240, 7426, 10874, 0.050030835999999995, 37),
 ('Major: neuroscience', 13663, 80231, 72593, 0.048481675, 12),
 ('Major: physics', 32142, 39956, 32441, 0.048224496, 7),
 ('Major: operations logistics and e-commerce', 11732, 488, 232, 0.047858702999999995, 35),
 ('Major: communication disorders sciences and services', 38279, 11376, 27468, 0.047583999999999994, 45),
 ('Major: mathematics', 72397, 9005, 2908, 0.047277137999999996, 11),
 ('Major: science and computer teacher education', 6483, 22357, 16404, 0.047263682, 38),
 ('Major: united states history', 3079, 8697, 14854, 0.047179487, 21),
 ('Major: elementary education', 170862, 13029, 157833, 0.046585715, 20),
 ('Major: zoology', 8409, 3050, 5359, 0.04632028, 7),
 ('Major: plant science and agronomy', 7416, 5079, 7841, 0.045454545, 26),
 ('Major: nursing', 209394, 21773, 187621, 0.04486272400000001, 7),
 ('Major: industrial and manufacturing engineering', 18968, 12453, 6515, 0.042875544, 40),
 ('Major: medical assisting services', 11123, 500, 109, 0.042506527, 26),
 ('Major: special needs education', 28739, 11431, 6604, 0.041507819, 23),
 ('Major: early childhood education', 37589, 1225, 37054, 0.040104981, 25),
 ('Major: art and music education', 34181, 10732, 23449, 0.038637747, 23),
 ('Major: human services and community organization', 9374, 5137, 48415, 0.037819026, 41),
 ('Major: medical technologies technicians', 15914, 2794, 2145, 0.03698279, 32),
 ('Major: teacher education: multiple levels', 14443, 1936, 7692, 0.03654583, 34),
 ('Major: physical sciences', 1436, 10285, 7662, 0.035353535, 17),
 ('Major: genetics', 3635, 1075, 1939, 0.034117647, 8),
 ('Major: engineering and industrial management', 2906, 2400, 506, 0.03365166, 37),
 ('Major: social psychology', 1386, 6184, 18313, 0.029649596, 17),
 ('Major: electrical, mechanical, and precision technologies and production', 2435, 1869, 566, 0.029479502999999997, 65),
 ('Major: industrial production technologies', 4631, 528, 1588, 0.028308097, 34),
 ('Major: materials engineering and materials science', 2993, 8181, 3384, 0.027788805, 43),
 ('Major: geosciences', 1978, 1589, 11797, 0.024373731000000003, 11),
 ('Major: metallurgical engineering', 856, 725, 131, 0.024096386, 25),
 ('Major: materials science', 4279, 2949, 1330, 0.023042836, 17),
 ('Major: atmospheric sciences and meteorology', 4043, 13257, 1893, 0.022228555, 36),
 ('Major: astronomy and astrophysics', 1792, 2110, 1667, 0.021167415, 26),
 ('Major: general agriculture', 10399, 1761, 1874, 0.019642463, 19),
 ('Major: petroleum engineering', 2339, 2057, 282, 0.018380527, 21),
 ('Major: mathematics teacher education', 14237, 4103, 15632, 0.016202835, 29),
 ('Major: court reporting', 1148, 877, 271, 0.011689692, 15),
 ('Major: engineering mechanics physics and science', 4321, 3526, 795, 0.006334343, 41),
 ('Major: mathematics and computer science', 609, 803, 10320, 0.0, 32),
 ('Major: botany', 1329, 626, 703, 0.0, 6),
 ('Major: soil science', 685, 4266, 13843, 0.0, 12),
 ('Major: educational administration and supervision', 804, 78253, 63698, 0.0, 42),
 ('Major: military technologies', 124, 1756, 1323, None, 21)]

# 11. Performing Arithmetic in SQL

Which majors had the largest spread (difference) between the 25th and 75th percentile starting salaries?

`In the same way that we can use string functions and operators, we can also perform arithmetic on the columns in a table. SQL supports the standard arithmetic operators: *, +, -, and /, and we can use them like any other operator`:

You can also add, subtract, multiple, or divide columns by individual values:

## TODO:
* Write a query that computes the difference between the 25th and 75th percentile of salaries for all majors.
  * Return the Major column first, using the default column name.
  * Return the Major_category column second, using the default column name.
  * Return the compute difference between the 25th and 75th percentile third, using the alias quartile_spread.
  * Order the results from lowest to highest and only return the first 20 results.

In [15]:
%%sql

SELECT Major,Major_category,(P75th-P25th) quartile_spread
FROM recent_grads
ORDER BY quartile_spread
LIMIT 20

 * sqlite:///jobs.db
Done.

[('MILITARY TECHNOLOGIES', 'Industrial Arts & Consumer Services', 0),
 ('SCHOOL STUDENT COUNSELING', 'Education', 2000),
 ('LIBRARY SCIENCE', 'Education', 2000),
 ('COURT REPORTING', 'Law & Public Policy', 4000),
 ('PHARMACOLOGY', 'Biology & Life Science', 5000),
 ('EDUCATIONAL ADMINISTRATION AND SUPERVISION', 'Education', 6000),
 ('COUNSELING PSYCHOLOGY', 'Psychology & Social Work', 6800),
 ('SPECIAL NEEDS EDUCATION', 'Education', 10000),
 ('MATHEMATICS TEACHER EDUCATION', 'Education', 10000),
 ('SOCIAL WORK', 'Psychology & Social Work', 10000),
 ('EDUCATIONAL PSYCHOLOGY', 'Psychology & Social Work', 10000),
 ('GENETICS', 'Biology & Life Science', 11000),
 ('SOCIAL PSYCHOLOGY', 'Psychology & Social Work', 11000),
 ('SCIENCE AND COMPUTER TEACHER EDUCATION', 'Education', 11000),
 ('HUMAN SERVICES AND COMMUNITY ORGANIZATION', 'Psychology & Social Work', 11000),
 ('UNITED STATES HISTORY', 'Humanities & Liberal Arts', 12000),
 ('SECONDARY TEACHER EDUCATION', 'Education', 13000),
 ('TEACHER EDUCATION: MULTIPLE LEVELS', 'Education', 13000),
 ('ENVIRONMENTAL ENGINEERING', 'Engineering', 14000),
 ('MEDICAL TECHNOLOGIES TECHNICIANS', 'Health', 14000)]

In this mission, we:

* Explored how to calculate summary statistics in SQL.
* Learned about different types of functions.
* Learned about data types in SQL.